.navbar.is-primary.is-fixed-top{
  margin-bottom: 50px;
}


iframe#widget2{
  height: 600px;
}
 

section.hero.is-fullheight-with-navbar.is-bold.bg-hero{
  margin-top: 53px;
  background-image: url('https://i.imgur.com/fxwwrW8.jpg');
  background-size: auto;
  background-repeat: no-repeat;

}

footer.footer.top{
  padding: 1.2rem 1.5rem 3rem;
  background-color: #ffdd57;
}

footer.footer.bottom{
  padding: 1.2rem 1.5rem 3rem;
  background-color: #757575;
}



div.column.has-text-centered.home-random-text{
  padding-top: 200px;
}

.image.show-page img{
  height:480px !important;
  width:480px !important;
  margin-left: auto;
  margin-right: auto;
}


@import '~bulma'
 