@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

$family-serif: 'Roboto', sans-serif;
$family-primary: $family-serif;
$warning: hsl(212, 89%, 82%);
$primary: hsl(323, 74%, 85%);


figure.image.is-16by9 img{
  height: 65%;
  width: 70%;
}
body{
  padding-top: 75px;
}

.search-container{
  width: 520px;
  display: block;
  margin: 0 auto;
}



input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
  	 opacity: 0;
     }    
   }
 }

.search-icon{
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  // right: -45px;
}


#notfound {
  position: relative;
  height: 60vh;
  width: 60vh;
  margin: 80px 270px;
}


div.card-content{
  padding: 1rem 1rem ;
}

div.card{
  text-align:center;
  // width: 350px;
  // height: 280px;
  background: white;
  box-shadow: 0px 0px 0px grey;
  -webkit-transition:  box-shadow .4s ease-out;
  box-shadow: .8px .9px 3px grey; 
}

.card:hover{ 
  box-shadow: 1px 8px 20px rgb(243, 213, 213);
  -webkit-transition:  box-shadow .6s ease-in;
  }
 
div.box{
  height: 500px;
  width: 900px;
  margin-left: 200px;
}

.navbar.is-primary.is-fixed-top{
  margin-bottom: 50px;
}



iframe#widget2{
  height: 400px;
  width: 900px;
}
 

// section.hero.is-fullheight-with-navbar.is-bold.bg-hero{
//   margin-top: 53px;
//   background-image: url('https://i.imgur.com/fxwwrW8.jpg');
//   background-size: auto;
//   background-repeat: no-repeat;
//    background-color: beige;

// }

// section.hero.is-medium.is-primary.is-warning

footer.footer.top{
  padding: 1.2rem 1.5rem 3rem;
}

footer.footer.bottom{
  padding: 1.2rem 1.5rem 3rem;
  background-color: #a481fb2d;
}

div.hero-body{
  padding-bottom: 0;
}

.image.show-page img{
  height:480px !important;
  width:480px !important;
  margin-left: auto;
  margin-right: auto;
  border-radius: 160px;
}


.image.homeImage img{
  height: 300px !important;
  width: 600px !important;

}

















@import '~bulma'
 