
$warning: hsl(212, 89%, 82%);


#notfound {
  position: relative;
  height: 60vh;
  width: 60vh;
  margin: 80px 270px;
}


div.card-content{
  padding: 1rem 1rem ;
}

.loading-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(#87abed,#3474eb,#d3a6db,#030c1c);
}

.loading-child{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(255,255,255,0.5);
  position: absolute;
  transform: translateX(100px);
  animation: rotate 3s ease-in infinite;
}

@for $i from 1 through 20 {
  .loading-child:nth-of-type(#{$i}){
      animation-delay: #{$i*0.08}s
  }
}

@keyframes rotate {
   0% {
    transform: rotate(0deg) translateX(100px);
  }
  100% {
    transform: rotate(360deg) translateX(100px);
  }
}

div.card{
  text-align:center;
  // width: 350px;
  // height: 280px;
  background: white;
  box-shadow: 0px 0px 0px grey;
  -webkit-transition:  box-shadow .4s ease-out;
  box-shadow: .8px .9px 3px grey; 
}

.card:hover{ 
  box-shadow: 1px 8px 20px rgb(243, 213, 213);
  -webkit-transition:  box-shadow .6s ease-in;
  }
 


.navbar.is-primary.is-fixed-top{
  margin-bottom: 50px;
}



iframe#widget2{
  height: 400px;
  width: 900px;
}
 

// section.hero.is-fullheight-with-navbar.is-bold.bg-hero{
//   margin-top: 53px;
//   background-image: url('https://i.imgur.com/fxwwrW8.jpg');
//   background-size: auto;
//   background-repeat: no-repeat;
//    background-color: beige;

// }

// section.hero.is-medium.is-primary.is-warning

footer.footer.top{
  padding: 1.2rem 1.5rem 3rem;
}

footer.footer.bottom{
  padding: 1.2rem 1.5rem 3rem;
  background-color: #a481fb2d;
}



// div.column.has-text-centered.home-random-text{
//   padding-top: 200px;
// }

.image.show-page img{
  height:480px !important;
  width:480px !important;
  margin-left: auto;
  margin-right: auto;
  border-radius: 160px;
}


@import '~bulma'
 